# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Datasets (as mentioned in the README, they should not be included)
data/
young-affectnet-hq.zip

# Logs
*.log

# macOS
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Results (might be large, but you can choose to include this if needed)
# results/
